/*
MA PALETTE DE COULEURS :
Couleur primaire   #9356DC
Couleur secondaire #FF79DA
Couleur Tertaire   #99E2D0
*/

/*Mes variables pour les couleurs*/
:root{
--primary-color: #9356DC;
--secondary-color: #FF79DA;
--tertiary-color: #99E2D0;
}

/*
Mes Polices
Logo et titres: Shrikhand
Texte: Roboto
*/

.circle {
    border-radius: 50%;
    width: 34px;
    height: 34px;
    padding: 10px;
    background: #fff;
    border: 3px solid #000;
    color: #000;
    text-align: center;
    font: 32px Arial, sans-serif;
  }

