@charset "UTF-8";
/*
MA PALETTE DE COULEURS :
Couleur primaire   #9356DC
Couleur secondaire #FF79DA
Couleur Tertaire   #99E2D0
*/
/*Mes variables pour les couleurs*/
/*MAPS*/
/*
Mes Polices
Logo et titres: Shrikhand
Texte: Roboto
*/
body {
  background-color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  color: #606060;
  font-weight: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  /*I want to remove all the bullet points */
  list-style-type: none;
}

a, span {
  /*I want to remove my underlines*/
  text-decoration: none;
  color: #606060;
}

img {
  /*I want my images to fit in the container*/
  width: 100%;
}

.wrapper {
  min-width: 320px;
  max-width: 768px;
  /*Un point d'arrêt fluide */
  margin: 0px 22px;
  /*Pour centrer les éléments: 
  je vais définir une marge égale à 0 en haut et en bas et 50px à droite et à gauche*/
}

/*----------HEADER-----------*/
#header {
  border-bottom: 1px solid #f2f2f2;
  background-color: #FFFFFF;
  /*box-shadow: [horizontal offset] [vertical offset] [blur radius] [color];*/
  justify-content: center;
}

header nav ul li.logo {
  padding: 1.5rem 4.2rem 0.2rem 4.2rem;
  font-family: "Shrikhand", sans-serif;
}

/*----------secondheader-----------*/
#secondHeader div.containerImage {
  background-image: url(../images/restaurants/ALaFrancaise.jpg);
  width: 100%;
  background-repeat: no-repeat;
  object-fit: cover;
}

/*----------mainContent-----------*/
#Menu header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*----------footer-----------*/
.footer {
  background-color: #353535;
  display: flex;
  justify-content: flex-start;
  color: #FFFFFF;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

.footer ul li h2 {
  font-family: "Shrikhand", sans-serif;
}

.footer ul li a {
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
}

.footer ul li:first-child {
  padding-bottom: 0.6rem;
  font-size: small;
  font-weight: 300;
}

.footer ul li.button {
  padding-top: 0.5rem;
  padding-bottom: 0.1rem;
  font-size: medium;
  font-weight: 400;
}

footer.wrapper div.container section#mentionsLegales ul li.button a i.fas.fa-utensils {
  padding-right: 1rem;
  font-size: small;
}

footer.wrapper div.container section#mentionsLegales ul li.button a i.fas.fa-hands-helping {
  padding-right: 1rem;
  font-size: small;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media all and (min-width: 769px) and (max-width: 1024px) {
  .wrapper {
    min-width: 769px;
    max-width: 1024px;
    /*Un point d'arrêt fluide */
    margin: 0px 22px;
    /*Pour centrer les éléments: 
    je vais définir une marge égale à 0 en haut et en bas et 50px à droite et à gauche*/
  }

  /*-----------header-------------*/
  #header {
    display: flex;
    justify-content: center;
  }

  /*-----------footer-------------*/
  .footer {
    display: flex;
    justify-content: center;
  }
}
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media all and (min-width: 1025px) and (max-width: 1499px) {
  .wrapper {
    min-width: 1025px;
    max-width: 1499px;
    /*Un point d'arrêt fluide */
    margin: 0px 22px;
    /*Pour centrer les éléments: 
    je vais définir une marge égale à 0 en haut et en bas et 50px à droite et à gauche*/
  }

  /*-----------header-------------*/
  #header {
    display: flex;
    justify-content: center;
  }

  /*-----------footer-------------*/
  .footer {
    display: flex;
    justify-content: center;
  }
}/*# sourceMappingURL=aLaFrancaise.css.map */