/*
MA PALETTE DE COULEURS :
Couleur primaire   #9356DC
Couleur secondaire #FF79DA
Couleur Tertaire   #99E2D0
*/

/*Mes variables pour les couleurs*/


    $main-background-color: #FFFFFF;
    $primary-color: #9356DC;
    $secondary-color: #FF79DA;
    $tertiary-color: #99E2D0;
    $border-color:#f2f2f2;
    $text-color:#606060;
    $second-background-color: #E8E8E8;
    $third-background-color: #f2f2f2;
    $darker-text-color: black;
    $footer-background-color: #353535;
    $placeholder-color: #505050;
    $footer-text-color: #FFFFFF;
    $mainNav-button-color: #FFFFFF;
    $secondNav-icon-color: #808080;
    $mainContent-background-color: #f2f2f2;
    $green-button-color: #088F8F;
    $heart-icon-border-color: #817c7a;



    /*MAPS*/

    $font-weights:(
        "small": 300,
        "regular": 400,
        "medium": 500,
        "bold": 700
        );
    
 
    
    /*
    Mes Polices
    Logo et titres: Shrikhand
    Texte: Roboto
    */
    
    body {
    
        background-color: $main-background-color;
        font-family: 'Roboto', sans-serif;
        color: $text-color;	
        font-weight: map-get($font-weights, bold);
    
    }
    
      
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        
    }
    
    ul {
        /*I want to remove all the bullet points */
        list-style-type: none; 
    
    }
    
    a, span {
        /*I want to remove my underlines*/
        text-decoration: none;
        color: $text-color;
    }
    
    
    
    img {
    
        /*I want my images to fit in the container*/
        width: 100%;
    }
    
    
    
    .wrapper{
        
        min-width: 320px;
        max-width: 768px; /*Un point d'arrêt fluide */
        margin: 0px 22px; /*Pour centrer les éléments: 
        je vais définir une marge égale à 0 en haut et en bas et 50px à droite et à gauche*/
        
    }
    
    
    
    
    /*----------HEADER-----------*/
    
    
    
    #header{
    
        border-bottom: 1px solid $border-color;
        background-color: $main-background-color;
        /*box-shadow: [horizontal offset] [vertical offset] [blur radius] [color];*/
        justify-content: center;
        -webkit-box-shadow: 0 10px 5px #888888;
        -moz-box-shadow: 0 10px 5px #888888;
        box-shadow: 0 10px 5px #888888;
    }
    
    header nav ul li.logo {
    
        padding: 1.5rem 4.2rem 0.2rem 4.2rem;
        font-family: 'Shrikhand', sans-serif;
    
    }
    
    
    
    
    /*----------2ndHEADER-----------*/
    
    
    
    
    #secondHeader{
    
        border-bottom: 1px solid $border-color;
        background-color: $second-background-color;
        display: flex;
        justify-content: center;
        padding: 0.9rem;
        color: $darker-text-color;
    
    }

    .container.flex{

        display: flex;
        justify-content: center;
    }
    
    
    ::placeholder {
    
        color: $placeholder-color;
        background-color: $second-background-color;
        font-weight: 700;
        font-size:larger;
        opacity: 1; /* Firefox */
        font-family: 'Roboto', sans-serif;
        /*margin-right: 0px;*/
        outline: none;
        
      }

      
    :-ms-input-placeholder { /* Internet Explorer 10-11 */

       color: $placeholder-color;
       background-color: $second-background-color;
       font-weight: 800;
       font-size:larger;
       font-family: 'Roboto', sans-serif;
       /*margin-right: 0px;*/

      }

      
    ::-ms-input-placeholder { /* Microsoft Edge */

       color: $placeholder-color;
       background-color: $second-background-color;
       font-weight: 800;
       font-size:larger;
       font-family: 'Roboto', sans-serif;
       /*margin-right: 0px;*/

      }


      input {

        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: hidden;
        background-color: #eee;

      }
      

      .no-outline:focus {

        outline: none;

      }


      
      #secondHeader div.wrapper div.container.flex nav form.search-form i.fas.fa-map-marker-alt{

        padding-right: 1rem;

      }
    
    
    /*----------mainNav-----------*/
    
    
    #mainNav{
    
        background-color: $third-background-color;
        
    }

    
    #mainNav div.row{
    
        display: flex;
        flex-flow: column;
        text-align: center;
        padding-bottom: 3rem;
    }


    #mainNav div.row h2{

        color: $darker-text-color;
        padding: 2.3rem 3rem 0.9rem 3rem;
        font-family: 'Roboto', sans-serif;
       
    }


    #mainNav div.row p{

        font-size: large;
        font-weight: map-get($font-weights, regular);
        color: $placeholder-color;
        padding-bottom: 2rem;
    }


    #mainNav div.row button{

        border-radius: 30px;
        padding: 1rem 1rem 1rem 1rem;
        color: $mainNav-button-color;
        background-color: $secondary-color;
        font-size: medium;
        margin-right: 3rem;
        margin-left: 3rem;
    }

    


    /*-----------secondNav--------------*/

    #secondNav div.row{

        padding: 3rem 0 3rem 0;
        display: flex;
        flex-flow: column;
        
    }

    #secondNav div.row header h1{

        color: $darker-text-color;
        padding-bottom: 1.5rem;
    }

    #secondNav section.wrapper div.row button{

        background-color: $third-background-color;
        border-radius: 30px;
        display: flex;
        align-items: center;
        padding: 1rem 1rem 1rem 1rem;
        color: $darker-text-color;
        font-size: medium;
        font-weight: map-get($font-weights, medium);
        position: relative;
        margin-bottom: 1.5rem;
    }
     
    .circle {
        border-radius: 50%;
        width: 34px;
        height: 34px;
        padding: 8px;
        background: $primary-color;
        border: 3px solid $primary-color;
        color: $mainNav-button-color;
        text-align: center;
        font-family:'Roboto', sans-serif;
        position: relative;
        margin-right: 1rem;
        margin-left: -1.5rem;

      }

      #secondNav section.wrapper div.row button i.fas.fa-mobile-alt, 
      #secondNav section.wrapper div.row button i.fas.fa-list, 
      #secondNav section.wrapper div.row button i.fas.fa-store{

        color: $secondNav-icon-color;
        margin-right: 1.5rem;
      }



    
    /*----------mainContent-----------*/

    #mainContent{

        background-color: $mainContent-background-color;
        padding-top: 3.9rem;
        padding-bottom: 3.9rem;
    }

    #Restaurants header h1{

        color: $darker-text-color;
        padding-bottom: 1.2rem;
    }
    
    
    .card{
    
        overflow: hidden;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        border-radius: 1rem;
        cursor: pointer;
        /*ease-in - specifies a transition effect with a slow start*/
        transition: transform 200ms ease-in;
        /*Transition effects are animation options*/
        background: $main-background-color;
        min-height: 235px;
        margin-bottom: 1.2rem;
    }
    
    
    .wrapper-grid div.card__body.laPaletteDuGout{
    
        background-image: url(../images/restaurants/laPaletteDuGout.jpg);
        object-fit: cover;
        height:165px;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        
        
    
    }
    

   #Restaurants div.wrapper-grid div.card div.card_body_part1{

        position: relative;
        top: 155px;
        padding-left: 0.9rem;
   }

   #Restaurants div.wrapper-grid div.card div.card__body span.nouveau{

        color: $green-button-color;
        background-color: $tertiary-color;
        position: relative;
        left: 225px;
        top: 13px;
        padding: 5px 12px;
        border: none;
        border-radius: 2px;
        font-weight: map-get($font-weights, bold);

   }
        
    #Restaurants div.wrapper-grid div.card div.card__body div.card_body_part1 h3.card__title{

        color: $darker-text-color;
        font-weight: map-get($font-weights, bold);
        padding-bottom: 0.2rem;
        font-size: large;
    }

    #Restaurants div.wrapper-grid div.card div.card__body div i.far.fa-heart{

        position: relative;
        top: 115px;
        display: flex;
        justify-content: flex-end;
        flex-flow: row;
        right: 20px;
        font-weight:  map-get($font-weights, small);
        font-size: x-large;
        color: $heart-icon-border-color;
    }

    #Restaurants div.wrapper-grid div.card div.card__body div.card_body_part1 div.card__description p{

        font-weight:  map-get($font-weights, regular);
    }

    
    
    .wrapper-grid div.card__body.laNoteEnchantee{
    
        background-image: url(../images/restaurants/laNoteEnchantee.jpg);
        object-fit: cover;
        height:165px;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        
    }
    
    .wrapper-grid div.card__body.ALaFrancaise{
    
        background-image: url(../images/restaurants/ALaFrancaise.jpg);
        object-fit: cover;
        height:165px;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        
    }

    #Restaurants div.wrapper-grid div.card div.card__body.LeDeliceDesSens div.card_body_part1,
    #Restaurants div.wrapper-grid div.card div.card__body.ALaFrancaise div.card_body_part1{

        top: 175px;
    }
    #Restaurants div.wrapper-grid div.card div.card__body.LeDeliceDesSens div i.far.fa-heart,
    #Restaurants div.wrapper-grid div.card div.card__body.ALaFrancaise div i.far.fa-heart{

        top: 140px;
    }
    
    .wrapper-grid div.card__body.LeDeliceDesSens{
    
        background-image: url(../images/restaurants/leDeliceDesSens.jpg);
        object-fit: cover;
        height:165px;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        
    }
    
    
    
    
    
    
    
    /*----------footer-----------*/  
    
    .footer{
    
        background-color: $footer-background-color;
        display: flex;
        justify-content: flex-start;
        color: $footer-text-color;
        padding-top: 1rem;
        padding-bottom: 1.5rem;
        
    }
    
    .footer ul li h2{
    
        font-family: 'Shrikhand', sans-serif;
    }
    
    .footer ul li a{
    
        color: $footer-text-color;
        font-family: 'Roboto', sans-serif;
    }

    .footer ul li:first-child{

        padding-bottom: 0.6rem;
        font-size: small;
        font-weight: map-get($font-weights, small);
    }

    .footer ul li.button{

        padding-top: 0.5rem;
        padding-bottom: 0.1rem;
        font-size: medium;
        font-weight: map-get($font-weights, regular);
    }
   
    
    
    footer.wrapper div.container section#mentionsLegales ul li.button a i.fas.fa-utensils{

        padding-right: 1rem;
        font-size: small;
    }

    footer.wrapper div.container section#mentionsLegales ul li.button a i.fas.fa-hands-helping{

        padding-right: 1rem;
        font-size: small;

    }

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/    
    
    @media all and (min-width: 769px) and (max-width: 1024px){

        .wrapper{

            min-width: 769px;
            max-width: 1024px; /*Un point d'arrêt fluide */
            margin: 0px 22px; /*Pour centrer les éléments: 
            je vais définir une marge égale à 0 en haut et en bas et 50px à droite et à gauche*/
                          

        }

         /*-----------header-------------*/

       #header{

        display: flex;
        justify-content: center;
   }

        /*-----------mainNav-------------*/

       #mainNav{

           display: flex;
           justify-content: center;
       }

       
        /*-----------secondNav-------------*/

       #secondNav{

        display: flex;
        justify-content: center;            
       }

       #secondNav section.wrapper div.row header{
        
        display: flex;
        justify-content: center; 
       }
        /*-----------mainContent-------------*/

       #mainContent{

        display: flex;
        justify-content: center;
       }
       
       /*
       .card{
           
           width: 200%;
       }
       */

        /*-----------footer-------------*/

       .footer{

        display: flex;
        justify-content: center;    
       }

    }



/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/    
       
     
    @media all and (min-width: 1025px) and (max-width: 1499px){

        .wrapper{

            min-width: 1025px;
            max-width: 1499px; /*Un point d'arrêt fluide */
            margin: 0px 22px; /*Pour centrer les éléments: 
            je vais définir une marge égale à 0 en haut et en bas et 50px à droite et à gauche*/
                          

        }

         /*-----------header-------------*/

       #header{

        display: flex;
        justify-content: center;
   }

        /*-----------mainNav-------------*/

       #mainNav{
           display: flex;
           justify-content: center;
       }

       
        /*-----------secondNav-------------*/

       #secondNav{

        display: flex;
        justify-content: center;            
       }
        /*-----------mainContent-------------*/

       #mainContent{

        display: flex;
        justify-content: center;
       }

       /*
       .card{
           
           width: 200%;
       }
       */

        /*-----------footer-------------*/

       .footer{

        display: flex;
        justify-content: center;    
       }

    }